$color-template: #41B06E;

.feedback-container{
    text-align: start;
    position: relative;
    h4{
        font-size: 1.8rem;
        color: rgb(41, 29, 29);
        margin-top: 4rem;
        padding-left: 8rem;
    }
    h4::after{
        content: "";
        position: absolute;
        top: .4rem;
        left: 2rem;
        width: 5rem;
        height: 1rem;
        background-color: $color-template;
        border-radius: 28% 72% 83% 17% / 47% 47% 53% 53%;
    }
    .card-container{
        margin: 4rem 0;
        text-align: center;
        overflow: hidden;
        width: 80%;
        place-self: center;
        padding-left: 3rem;
    }
    .hr-line{
        border: none;         
        height: 1.5px;               
        background-color: #534d4323;
    }
}

@media screen and (max-width: 600px) {
    .feedback-container{
        text-align: start;
        position: relative;
        h4{
            font-size: .9rem;
            color: rgb(41, 29, 29);
            margin-top: 4rem;
            padding-left: 6rem;
        }
        h4::after{
            content: "";
            position: absolute;
            top: 0rem;
            left: 2rem;
            width: 2.8rem;
            height: .9rem;
            background-color: $color-template;
            border-radius: 28% 72% 83% 17% / 47% 47% 53% 53%;
        }
        .card-container{
            margin: 4rem 0;
            text-align: center;
            overflow: hidden;
            padding: 0;
            width: 100%;
        }
    }
}